# Core functionality - changes here should be rare!
/src/app.py                   @praisemanz
/src/backend/database.py      @praisemanz
/src/backend/routers/auth.py  @praisemanz

# The frontend will need refactored soon to be more object oriented.
/src/static/   @praisemanz
